In [ ]:
keys = ['Ones', 'Two', 'Three']
values = [1, 2, 3]

In [ ]:
def make_dict(keys: list, values: list) -> dict:
    len_dict = len(keys)
    my_dict = {}
    for i in range(len_dict):
        my_dict[keys[i]] = values[i]
    return my_dict

In [ ]:
make_dict(keys, values)

{'Ones': 1, 'Two': 2, 'Three': 3}

In [ ]:
my_dict_2 = {keys[i]: values[i] for i in range(len_dict)}
my_dict_2

{'Ones': 1, 'Two': 2, 'Three': 3}

In [ ]:
my_dict2 = {i: j for (i,j) in zip(keys,values)}
print(my_dict2)

{'Ones': 1, 'Two': 2, 'Three': 3}

In [ ]:
print(list(zip(keys, values)))

[('Ones', 1), ('Two', 2), ('Three', 3)]

In [ ]:
for i, j in zip(keys, values):
    print(i, j)

Ones 1
Two 2
Three 3

In [ ]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 500000,
    "city": "Moscow"}

keys = ['name', 'age']

In [ ]:
def task_3(client_dict: dict, keys: list) -> dict:
    my_dict = {}
    for key in keys:
        my_dict[key] = client_dict[key]
    return my_dict

In [ ]:
task_3(client_dict, keys=['salary', 'city'])

{'salary': 500000, 'city': 'Moscow'}

In [ ]:
def my_dict(dict_local: dict, keys_local: list)-> dict:
    my_dict = {}
    for i in range(len(keys_local)):
        my_dict[keys_local[i]] = dict_local[keys_local[i]]
    return my_dict


print(my_dict(client_dict, keys))

In [ ]:
my_dict = {key: client_dict[key] for key in keys}
my_dict

{'name': 'John', 'age': 25}

In [ ]:
def my_dict2(dict_local: dict, keys_local: list)-> dict:
    my_dict = {keys_local[i]: dict_local[keys_local[i]] for i in range(len(keys_local))}
    return my_dict

print(my_dict2(client_dict, keys))

{'name': 'John', 'age': 25}

In [ ]:
import random
random.seed(49)

[random.randint(0, 100) for i in range(5)]
random.random()

0.752111461418534

In [ ]:
random.seed(49)
[random.random() for i in range(5)]

[0.06688397634275167,
 0.41324281642825933,
 0.11050473394613869,
 0.752111461418534,
 0.5112851098756519]

## –ó–∞–¥–∞–Ω–∏–µ 5.
–ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –º–æ–∂–µ—Ç –ø—Ä–∏–Ω–∏–º–∞—Ç—å –ª—é–±–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–∞—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –∏ —Å—á–∏—Ç–∞—Ç—å —Å—É–º–º—É –∏ —Å—Ä–µ–¥–Ω–µ–µ.
üåü –ù–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞—é—Ç —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –ª—é–±–æ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ
üåü –ù–∞ –≤—ã—Ö–æ–¥–µ —Å–ª–æ–≤–∞—Ä—å —Å –∫–ª—é—á–∞–º–∏ —Å—É–º–º—ã —Ç—Ä–∞—Ç –∏ —Å—Ä–µ–¥–Ω–µ–π —Ç—Ä–∞—Ç—ã

In [ ]:
def aggregator(*args):
    return {
        "sum": sum(args),
        "mean": sum(args)/len(args)
    }

In [ ]:
def named_agg(**kwargs):
    return {"Names": kwargs.keys(),
            "Sum": sum(kwargs.values()),
            "Mean": sum(kwargs.values())/len(kwargs.values())
            }

In [ ]:
named_agg(John=5, Michael=10, Nik=15, Ivan=40)

{'Names': dict_keys(['John', 'Michael', 'Nik', 'Ivan']),
 'Sum': 70,
 'Mean': 17.5}