# Проверка данных на нормальность


<a id="Libraries"></a>
##  Загрузка библиотек

In [ ]:
from scipy.stats import ttest_1samp
import numpy as np
import pandas as pd


from scipy.stats import norm, t, kstest, shapiro
import statsmodels.api as sm
from matplotlib import pyplot as plt


import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [ ]:
import pandas as pd

In [ ]:
np.random.seed(17)

In [ ]:
data = pd.read_csv('/content/ab_stats.csv')

# Новый раздел

In [ ]:
data.head(5)

   revenue  num_purchases  purchase ab_group  av_site visit
0      0.0              0         0        A       9.040174
1      0.0              0         0        A       4.811628
2      0.0              0         0        A       7.342623
3      0.0              0         0        A       7.744581
4      0.0              0         0        A      10.511814

In [ ]:
z= data.time

AttributeError: ignored

In [ ]:
c1 = data.converted.sum()
c1

In [ ]:
c2 = data["converted"].value_counts()
c2

In [ ]:
c3 = data["con_treat"].value_counts()
c3

In [ ]:
data_control = data[data["con_treat"] == 'control']

In [ ]:
data_control.head(5)

In [ ]:
data_treatment = data[data["con_treat"] == 'treatment']
data_treatment.head(5)

In [ ]:
a=np.array(data.converted)
print(np.sum(a==1))